<!DOCTYPE html>
<html>
<style media="screen">
body{
    background: #0d1521;
    font-family: tahoma;
    color: #989898;
}

#todo-table{
    position: relative;
    width: 95%;
    background: #090d13;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

button{
    padding: 20px;
    width: 30%;
    float: left;
    background: #23282e;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}

h1{
      background: rgba(0,0,0,0.2);
    margin-bottom: 0;

}</style>
</head>
  <h1><%include partial/nav.ejs%></h1>
<body>
<h1>tạo người dùng</h1>
<p>
<div id="todo-table" >
 <form method="post">
   <input type="text" name="name" placeholder="nhập tên">
   <input type="text" name="mark" placeholder="điểm hiện tại">
   <input type="text" name="todolist.job" placeholder="nhập chủ đề">
   <input type="text" name="todolist.date" placeholder="ngày 1">
   <button type="submit" name="button">Cập nhật </button>
 </form>
</div></p>
</body>
</html>
