<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
    <h1><%include partial/nav.ejs%></h1>
  <body>
 <h1><%=data.name%></h1>
 <p>
 <div id="todo-table" >
   <ul>
     <li>điểm hiện tại:<%=data.mark%></li>
   </ul>
 </div></p>
  </body>
</html>
